@page
@model IndexModel
@{
    Layout = "Shared/_Master.cshtml";
    var products = Model.GetProducts();
}

<h1>Products</h1>
@foreach (var product in products)
{
    <h2>@product.Name</h2>
    <p>@product.Description</p>
    <p>@product.Price kr.</p>
    <hr />
}